version: 2
updates:
    - directory: /
      open-pull-requests-limit: 5
      package-ecosystem: npm
      rebase-strategy: auto
      schedule:
          interval: weekly
      assignees:
          - 'd_tw'
    - directory: /
      open-pull-requests-limit: 5
      package-ecosystem: github-actions
      rebase-strategy: auto
      schedule:
          interval: weekly
      assignees:
          - 'd_tw'
